/* NAVBAR CSS */
nav {
    background-color: black;
    min-height: 25px;
}

.navbar-brand img {
    width: 47px;
    height: 40px;
}

.nav-link {
    color: white !important;
}

.list li a:hover {
    color: #da292a !important;
}

.font-link {
    margin-top: 5px;
    margin-right: 6px;
    color: white;
    font-size: 19px;
    font-family: 'Teko', sans-serif;
}

.nav-dwl .btn {
    background-color: #da292a;
    font-size: 17px;
    border-radius: 0;
    min-width: 235px;
}

/* DROPDOWN */
.dropdown-menu {
    background-color: rgba(0, 0, 0, 0.925);
    margin-top: 10px;
    text-align: center;
}

.list .dropdown-menu {
    margin-left: -15px;
}

.dropdown-item {
    color: white;
}

.dropdown-item:hover {
    background: none;
    color: #da292a;
}

.nav-dwl .dropdown-menu {
    margin-top: 15px;
    margin-left: 40px;
}

@media (max-width: 990px) {
    .font-link {
        font-size: 20px;
        margin: 20px 0 10px 20px;
        border-bottom: 1px solid #5e5e5e;
    }
}
/* END NAVBAR */

/* Banner Home */
.jumbotron {
    background-image: url(assets/apex-section-bg-red-grit-texture-xl.jpg.adapt.1456w.jpg);
    background-repeat: no-repeat;
    min-height: 30em;
    border-radius: 0;
    margin-bottom: 0;
}
.banner-home h2 {
    color: white;
    font-family: 'Teko',sans-serif;
    font-weight: 600;
    font-size: 45px;
    margin-top: 75px;
    text-align: center;
}
.banner-home p {
    color: white;
    text-align: center;
    font-size: 18px;
    margin: 10px 30px 0 30px;
}
/* End Banner Home */

/* banner maps */
.banner-maps {
    background-image: url(assets/apex-section-bg-beige-texture-xl.jpg.adapt.1456w.jpg);
    background-size: cover;
    min-height: 40em;
}
.banner-maps img {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 50px;
}
.gambar-top {
    margin-left: 90px;
    margin-right: 90px;
}
.banner-maps h2 {
    font-family: 'Teko', sans-serif;
    font-weight: 600;
    font-size: 43px;
    color: black;
}
.banner-maps p {
    font-size: 16px;
    font-weight:600;
    margin-bottom: 80px;
}
@media (max-width: 770px) {
    .gambar-top {
        width: 200px;
    }
    .banner-maps h2 {
        font-size: 38px;
    }
}
@media (max-width:580px) {
    .banner-maps h2, .banner-maps p {
        margin:auto 50px auto 50px ;
    }
}
/* END banner maps */

/* banner-bottom */
.banner-bottom {
    background-image: url(assets/banner-bottom.jpg);
    background-size: cover;
    min-height: 23em;
    color: white;
    text-align: center;
}

.banner-bottom h2 {
    font-family: 'Teko', sans-serif;
    font-weight: 600;
    font-size: 45px;
    margin-top: 80px;
}

.banner-bottom p {
    margin-bottom: 50px;
}

.banner-bottom a {
    font-size: 17px;
    background-color: #da292a;
    color: white;
    margin-bottom: 70px;
}

.banner-bottom a:hover {
    color: white;
    background-color: transparent;
    border: 2px solid #505050;
    margin-top: -2px;
}

@media (min-width:990px) {
    .banner-bottom p {
        font-size: 17px;
        margin: 0 200px 20px 200px;
    }
}

/* end banner-bottom */

/* footer */
footer {
    background-color: #252525;
}

.top img {
    margin-top: 80px;
    margin-bottom: 20px;
}

hr {
    width: 100%;
    border: 1px solid #5e5e5e;
}

footer p {
    color: white;
    margin-top: 60px;
    margin-bottom: 20px;
}

footer span {
    font-family: 'Teko', sans-serif;
    font-size: 22px;
}

/* end footer */